<style>
    @media (min-width: 280px) and (max-width: 480px) {
        .content p {
            font-size: 14px;
            color: #202020;
            font-weight: 100;
            line-height: 20px;
            margin: 0 0 20px;
        }

        .content li {
            font-size: 14px;
            color: #202020;
            font-weight: 100;
            line-height: 20px;
        }

        .content h2 {
            padding: 10px 0px 10px 0px;
            font-size: 22px;
            color: rgb(0, 108, 180);
        }

        .row ul li {
            padding-bottom: 5px;
        }
        .row ul {
            padding-left: 30px;
        }
    }



    @media (min-width: 480px) and (max-width: 1600px) {
        .content p {
            font-size: 18px;
            color: #202020;
            font-weight: 100;
            line-height: 30px;
        }

        .content li {
            font-size: 18px;
            color: #202020;
            font-weight: 100;
            line-height: 30px;
        }

        .content h2 {
            padding: 30px 0px 20px 0px;
            font-size: 40px;
            color: rgb(0, 108, 180);
        }

        .row ul li {
            padding-bottom: 20px;
        }
        marquee{
            margin-top: 50px;
        }
    }
</style>

<div class="container">
    <div class="content">
        <div class="col-sm-12 col-lg-12">
            <div class="row">
                <h2 class="h2">About SSEnterprises</h2>
                <p class="s1">
                    <span>Mr Anthony Cardozo is the sole Proprietor of SSEnterpises. He started this firm in 2001 and have been
                        giving services to known industries for around 17 years now. SSEnterprises with its dedication towards
                        their customers have built up a reputation and expertise in this industry.
                    </span>
                </p>
                <p class="s1">
                    <span>Our Workshop is Located in Corlim, Opp. Syngenta Co. now called Deccan Chemicals, Ilhas- Goa.</span>
                </p>
                <p class="s1">
                    <span>Over two decades, SSEnterprises has emerged as the contractor for various industrial services like Unloading,
                        Shifting and erections of Industrial Machinery, Structural fabrication, Industrial Pipelines ,Maintenance,
                        Crane Services for Shift handling of Machineries, loads,etc and Overhead Roofing sheds. Our commitment
                        to excellence, safety and service is very strong right from day one.
                    </span>
                </p>
                <p class="s1">
                    <span>SSEnterprises is known to always provide customers with prompt services and to the highest quality. Over
                        the years we have continuously improved our process and quality. We ensure you a dependable and affordable
                        service.
                    </span>
                </p>
                <p class="s1">
                    <span>For every business we look for a long term commitment and build our relationship. Our aim is to assist
                        you with our services and help you meet the requirements.</span>
                </p>
                <p class="s1">
                    <span>SSEnterprises stands for its Teamwork, Integrity, and Commitment to their customers.</span>
                </p>
            </div>

            <div class="row">
                <marquee behavior="scroll" scrollamount="10" direction="left">
                    <img src="images/marquee/1.jpg" width="300" height="200" alt="Flying Bat">
                    <img src="images/marquee/2.jpg" width="300" height="200" alt="Flying Bat">
                    <img src="images/marquee/3.jpg" width="300" height="200" alt="Flying Bat">
                    <img src="images/marquee/4.jpg" width="300" height="200" alt="Flying Bat">
                    <img src="images/marquee/5.jpg" width="300" height="200" alt="Flying Bat">

                </marquee>
            </div>

            <div class="row">
                <h2 class="h2">Work Handled by SSEnterprises</h2>
                <ul>
                    <li>Loading and Unloading, Shifting, Erection of Industrial Machineries</li>
                    <li>Industrial Pipeline, Fabrication and Maintenance</li>
                    <li>Structural Fabrication</li>
                    <li>Overhead Roofing Sheds</li>
                    <li>Crane Services for Shifting and Handling of Machineries</li>
                    <li>Cranes on hire of all tonnage capacity</li>
                    <li>Towing services for all types of vehicles</li>
                </ul>
            </div>
        </div>
    </div>
</div>