<style>
    @media (min-width: 280px) and (max-width: 480px) {
        .jumbotron {
            background: rgb(0, 108, 180);
            color: #FFF;
            border-radius: 0px;
        }

        .jumbotron-sm {
            padding-top: 0px;
            padding-bottom:0px;
        }

        .jumbotron small {
            color: #FFF;
        }

        .h1 small {
            display: inline-block;
            font-size: 18px;
        }

        #contact iframe {
            padding-bottom: 25px;
        }
        #contact strong {
            font-size: 16px;
        }

        .loc {
            margin-bottom: 0px;
        }

    }

    @media (min-width: 480px) and (max-width: 1600px) {

        .jumbotron {
            background: rgb(0, 108, 180);
            color: #FFF;
            border-radius: 0px;
        }

        .jumbotron-sm {
            padding-top: 24px;
            padding-bottom: 24px;
        }

        .jumbotron small {
            color: #FFF;
        }

        .h1 small {
            font-size: 24px;
        }

        #contact iframe {
            padding-bottom: 25px;
        }

        #contact strong {
            font-size: 16px;
        }

        .v-divider {
            margin-top: 0px;
            margin-left: 30px;
            margin-right: 0px;
            width: 1px;
            height: 350px;
            border-left: 1px solid gray;
        }

        .loc {
            margin-bottom: 20px;
        }
    }
</style>

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    CONTACT US
                    <small>Feel free to contact us</small>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <legend>
                <span class="glyphicon glyphicon-edit"></span> Get In Touch
            </legend>
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Name
                                    <span style="color:red;"> *</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email Address
                                    <span style="color:red;"> *</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="number">
                                    Contact Number
                                    <span style="color:red;"> *</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-phone"></span>
                                    </span>
                                    <input type="tel" class="form-control" id="number" placeholder="Enter number" required="required" minlength="10" maxlength="15"
                                    />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Message
                                    <span style="color:red;"> *</span>
                                </label>
                                <textarea name="message" id="message" class="form-control" rows="8" cols="25" required="required" placeholder="Message..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <span class="text-muted pull-left">
                                <em>
                                    <span style="color:red;">* </span> Indicates required field</em>
                            </span>
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="hidden-xs hidden-sm col-md-1 v-divider"></div>

        <div class="col-md-3">
            <section id="contact">
                <form>
                    <legend>
                        <span class="glyphicon glyphicon-globe"></span> Our office
                    </legend>
                    <address>
                        <strong>Address:</strong>
                        <br>Rising Sun Bldg., Opp. Syngenta Co.,
                        <br>Corlim Ilhas – Goa 403110.
                        <br>
                        <br>
                        <strong>Landline:</strong>
                        <br>0832-22843534
                        <br>
                        <br>
                        <strong>Mobile:</strong>
                        <br>9822163574 / 9823988542
                        <br>
                    </address>
                    <address>
                        <strong>Email ID:</strong>
                        <br>
                        <a href="mailto:#">ssenterprises198@gmail.com</a>
                    </address>
                </form>
            </section>
        </div>
    </div>
</div>

<div class="loc container">
    <legend>
        <span class="glyphicon glyphicon-map-marker"></span> Find Us On Map
    </legend>
    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3736489.7218514383!2d90.21589792292741!3d23.857125486636733!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1506502314230"
            width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>