<style>
    @media (min-width: 280px) and (max-width: 480px) {
        .footer-bottom-area {
            padding-bottom: 5px;
            background-color: #222222;
        }
        .footer-bottom-area p {
            padding-top: 5px;
            margin: 0px;
            color: #7c7c7c;
            font-size: 12px;
        }
    }

    @media (min-width: 480px) and (max-width: 1600px) {
        .footer-bottom-area {
            padding: 12px 2%;
            background-color: #222222;
        }
        .footer-bottom-area p {
            padding-top: 10px;
            margin: 0px;
            color: #7c7c7c;

        }
    }
</style>

<footer>
    <div class="footer-bottom-area fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-bottom">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="fba-copyright text-center">
                                    <p>Copyright © 2018. All rights reserved.</p>
                                    <a ng-href="www.hytsan.com">
                                        <p>“Developed by- HYTSAN TECHNOLOGIES”</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>