<style>
    @media (min-width: 280px) and (max-width: 480px) {
        .content .row li {
            font-size: 12px;
            color: #202020;
            font-weight: 100;
            margin: 0px;
        }

        .content p {
            font-size: 12px;
            color: #202020;
            font-weight: 100;
            line-height: 20px;
            margin-right: 10px;
        }

        .content h3 {
            padding: 0px 10px 0px 0px;
            font-size: 16px;
            color: rgb(0, 108, 180);
        }

        .row ul li {
            padding-bottom: 5px;
        }
        .row ul {
            padding-left: 25px;
        }

        .col-sm-9 {
            padding-left: 40px;
            padding-bottom: 20px;
        }
    }

    @media (min-width: 480px) and (max-width: 1600px) {
        .content .row li {
            font-size: 18px;
            color: #202020;
            font-weight: 100;
            line-height: 30px;
        }

        .content p {
            font-size: 18px;
            color: #202020;
            font-weight: 100;
            line-height: 30px;
        }

        .content h3 {
            padding: 30px 0px 20px 0px;
            font-size: 40px;
            color: rgb(0, 108, 180);
        }

        .row ul li {
            padding-bottom: 20px;
        }

        .col-sm-9 {
            padding-left: 50px;
            padding-bottom: 50px;
        }
    }
</style>

<side ng-include="'/views/sidemenu.html'"></side>
<div class="container-fluid">
    <div class="content">
        <div class="col-sm-9 col-lg-9">
            <div class="row">
                <h3 class="h3">SSEnterprises is well equipped with best Industrial technique and Manpower to execute following services:</h3>
            </div>
            <div class="row">
                <ul>
                    <li>Loading and Unloading, Shifting, Erection of Industrial Machineries</li>
                    <li>Industrial Pipeline, Fabrication and Maintenance</li>
                    <li>Structural Fabrication</li>
                    <li>Overhead Roofing Sheds</li>
                    <li>Crane Services for Shifting and Handling of Machineries</li>
                    <li>Cranes on hire of all tonnage capacity</li>
                    <li>Towing services for all types of vehicles</li>
                </ul>
            </div>
            <div class="row">
                <p class="p">From large to small projects, complex to simple – we can help you with these services. Our expertise extends
                    to all kinds of industries however currently we focus on a few customers, mostly MNCs, which are very
                    satisfied with our work. We understand customer needs, requirements & delivers our service to meet their
                    targets in time.
                </p>
            </div>
        </div>
    </div>
</div>